.nav {
    margin: 30px 0 10px;
    padding: 0 0 20px;
    border-top: 1px solid #dce5f2;
    a {
        background-color: #3a4350;
        color: #fff;
        margin: 0 10px;
        padding: 10px;
        border-radius: 2px;
        cursor: pointer;
        &.active {
            color: #b690f1;
            background: #363c48;
        }
        &:hover {
            background: #b690f1;
            color: #363c48;
        }
    }
}
