.nav {
    margin: 30px 0 10px;
    padding: 0 0 20px;
    border-bottom: 1px solid #dce5f2;
    a {
        background-color: #3a4350;
        color: #fff;
        margin: 0 10px;
        padding: 5px;
        border-radius: 2px;
        &.active {
            color: #b690f1;
            background: #363c48;
        }
    }
}
